@font-face{
    font-family: 'hi';
    src: url(../fuentes/Stjldbl1.ttf);
}
#late{
    font-family: 'hi';
    font-size: 48px;
}
#lin{
    font-family: 'hi';
    font-size: 16px;
}
#subtitle{
    font-family: 'hi';
    font-size: 24px;
}
#leg{
    font-family: 'hi';
    font-size: 28px;
}